@import './src/global-styles/variables';

@mixin button {
  height: 40px;
  background-color: $primary-color;
  box-shadow: $box-shadow-default;
  border: 0;
  border-radius: $radius-default;
  color: white;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: #090a5d;
  }

  &:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;

    &:hover {
      background-color: $disabled-color;
    }
  }
}