$background-color-default: #e1ecff !default;
$primary-color: #6032d2 !default;
$disabled-color: #9f9f9f !default;

$media-screen-desktop: 960px;

$radius-default: 10px !default;

$box-shadow-default: 2px 3px 7px 1px rgb(0 0 0 / 29%) !default;